<div class="gray-section">
  <h1 class="stroked-header">Things We Do</h1>
  <div class="d-flex images-section">
    <div class="col-one">
      <div class="img-container">
        <img src="assets/images/resources/c5cbfe45323a3e252f71995bc7695dc8" />
        <div class="overlay"><h3>Transformation</h3></div>
      </div>
    </div>
    <div class="d-flex col-two">
      <div>
        <div class="img-container">
          <img src="assets/images/resources/ef55de9940108952bf49f4de95f62b2e" />

          <div class="overlay"><h3>Envision</h3></div>
        </div>
      </div>
      <div>
        <div class="img-container">
          <img src="assets/images/resources/f3176a98310c426a33836e8e97b2df90" />
          <div class="overlay"><h3>Dynamics 365</h3></div>
        </div>
      </div>
    </div>
    <div class="d-flex col-three">
      <div>
        <div class="img-container">
          <img src="assets/images/resources/c5cbfe45323a3e252f71995bc7695dc8" />
          <div class="overlay"><h3>Crafty Mind</h3></div>
        </div>
      </div>
      <div>
        <div class="img-container">
          <img src="assets/images/resources/bc7ecd18a5d58e397d537aae1699a7cb" />
          <div class="overlay"><h3>Services</h3></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pink-section">
    <h1>
      We Deliver<br />
      Digital Productivity
    </h1>
    <p>
      We craft technology solutions that digitally bond and transform the
      productivity of our customers and their citizens, workers, consumers and
      partners.
    </p>
  </div>
</div>
